

body
{
    background-color: #b6bdbb !important;
    
    background-attachment: relative;
    background-repeat: no-repeat;
    background-position: center 103px;
}

#container
{
    width: 95%;
    height: 95%;
    margin: 0 auto;
    overflow: hidden;


    border: 3px solid #000;
    
    
    background: #fff;
}

.row {
    overflow: hidden;
}

#score {
    position: relative;
    top: -540px;
    text-align: center;
    font-size: 30px;
    font-family: 'Tapestry', cursive; 
    padding-bottom: 10px;
    
}

#rejouer {
    position: relative;
    top: -540px;
    text-align: center;
    font-family: 'Tapestry', cursive; 
    margin-top: 0px;
    border-radius: 10px;
}

#submit {
    width: 300px;
    height: 100px;
    border-radius: 15px;
    font-size: 35px;
    font-family: 'Tapestry', cursive;
    background-color: #b6bdbb78;

}

#submit2 {
    margin-left: 5px;
    margin-top: 5px;
    height: 30px;
    align-items: center;
    border-radius: 5px;
}

#visible, #visible2 {
    visibility: hidden;
}

#pseudo {
    margin-left: 5px;
    margin-top: 10px;
    height: 24px;
    
}

h1
{
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 4px grey;
    margin-bottom: 0px !important;
    color: #000;
    font-family: 'Ruslan Display', cursive;
    margin-top: 10px;
    height: 40px;
}

.center {
    display: flex !important;
    justify-content: center !important;
    margin-top: 10px;
}

table {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 25px;
    text-align: center;
    background-color: #b6bdbb;


}


td {
    padding: 10px;
    border: 1px solid #000 !important;
    width: 100px;
}