@import url("https://fonts.googleapis.com/css?family=PT+Sans");

@media screen and (max-width: 1025px) {

    body {
        font-family: "PT Sans", sans-serif;
        background-color: #efefef;
        justify-content: center;
        text-align: center;
        font-size: 13px;
        height: 800px;
    }

    .portable {
        margin-top: 20px;
        
        }

    .port {
        display: contents;
    }

    /* Navigation */
    .tab-nav {
        margin-top: 50px;
      
    }

    .tab-nav li {
        /* Affichage des éléments du menu côte à côte */
        display: inline-block;
    }

    /* Aspect des onglets inactifs (par défaut) */
    .tab-nav a {
        display: block;
        border: 1px solid #cccccc;
        border-width: 1px 1px 0 1px;
        padding: 10px 15px;
        border-radius: 5px 5px 0 0;
        background-color: gray;
        text-decoration: none;
        color: #fff;
        transition-duration: 0.5s;

    }

    /* Effet de survol sur les onglets */
    .tab-nav a:hover {
        background-color: darken(red, 15%);
    }

    /* Aspect des onglets actifs */
    .tab-nav .tab-nav-active {
        background-color: #ffffff;
    }

    .tab-nav a.tab-nav-active {
        color: #000000;
        
    }

    .tab-nav a.tab-nav-active:hover {
        background-color: rgb(255, 255, 255);
    }

    /* Contenu des onglets */
    .tab {
        /* Masquage des onglets*/
        display: none;




        background-color: rgba(0, 0, 0, 0);

    }

    /* Affichage du contenu actif */
    .tab-active {
        display: block;
        margin-left: 20%;
        margin-right: 20%;
    }



    .box {

        margin-top: 160px;
     
        transform: translate(-50%, -50%);
        width: 300px !important;
        height: 320px;
        background: #111845a6;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 20px 50px rgb(23, 32, 90);
        border: 2px solid #652aad;
        color: white;
        padding: 20px;
    }

    .box .content {
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border: 1px solid #f0a591;
        padding: 20px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);

    }

    .box span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;

    }


    .coul1 {
        margin-left: -150px !important;
    }


    .coul2 {
        margin-top: -0px !important;
    }


    .coul3 {
        margin-left: 150px !important;
    }


    .coul4 {
        margin-top: 150px !important;
    }

    .box span:nth-child(1) {
        transform: rotate(0deg);
    }


    .box span:nth-child(2) {
        transform: rotate(90deg);

    }

    .box span:nth-child(3) {
        transform: rotate(180deg);

    }

    .box span:nth-child(4) {
        transform: rotate(270deg);

    }

    .box span:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #50dfdd;
        animation: animate 4s alternate-reverse infinite;
    }

    @keyframes animate {
        0% {
            transform: scaleX(0);
            transform-origin: left;
            transform-origin: right;
        }

        50% {
            transform: scaleX(1);
            transform-origin: left;
            transform-origin: right;
        }

        50.1% {
            transform: scaleX(1);
            transform-origin: right;
            transform-origin: left;

        }

        100% {
            transform: scaleX(0);
            transform-origin: right;

        }


    }

    #meteo {
        margin-top: 20px !important;
        margin-bottom: -10px;
    }

    body {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }



    #ville {
        margin-top: 0px;
    }



    #temp {
        margin-left: -160px;
        margin-top: -50px;
    }

    #tempm {
        margin-left: 160px;
        margin-top: -26px;
    }

    #bas {
        margin-top: 30px;
    }

    h1 {
        color: black;
        text-shadow:
            -1px -1px 0 #50dfdd,
            1px -1px 0 #50dfdd,
            -1px 1px 0 #50dfdd,
            1px 2px 0 #50dfdd;
    }





    #time {
        font-size: 35px;
        font-family: 'Roboto', sans-serif;
        color: #50dfdd;
        text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;


    }

    

    


}
